:root{
    --primary-red: #F87070;
    --primary-blue: #70F3F8;
    --primary-violet: #D881F8;
    --dark-blue: #1E213F;
    --dark-gray: #161932;
    --white: #FFFF;
    --light-gray: #EFF1FA;
    --light-blue: #D7E0FF;

}
body{
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight:bold;
    line-height: 18px;
}
h1{
    font-size: 100px;
    line-height: 120px;
    letter-spacing: -5px;
}
h2{
    font-size: 28px;
    line-height: 34px;
}
h3{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 15px;
    text-transform: uppercase;
}
h1{
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
@media screen and (max-width:450px) {
    body{
        font-size: 12px;
        line-height: 14px;
    }
}